* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}

.fixed_border {
  border: 1px solid black;
  border-radius: 15px;
  background: none;
}

.webgl {
  position: absolute;
  top: 0;
  left: 0;
  outline: none;
  /* background-color: whitesmoke; */
}

.form {
  position: absolute;
  height: 100vh;
  width: 300px;
  background-color: rgba(255, 255, 255, 49%);
  backdrop-filter: blur(2px);
  z-index: 10;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  align-items: center;
  justify-content: center;
}

.form div {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.side-numbers,
.label-side-number,
.side-width,
.btn-Rear-wall {
  width: 100px;
  height: 50px;
  text-align: center;
}

.side-numbers {
  border: none;
  border-radius: 0px 5px 5px 0px;
}

.btn-Rear-wall {
  margin: 20px;
}

.btn-Rear-wall:hover,
.clone div:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.label-side-number {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: none;
  border: 1px solid #d9eaf9;
  z-index: 10;
  cursor: pointer;
  border-radius: 5px 0px 0px 5px;
}

.clone {
  width: 100%;
  justify-content: space-between;
}

.clone div {
  border: 1px solid black;
  width: calc(100% / 3);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
